#intro{
    font-size: 7rem;
    margin-top: 50vh;   
    background-image: url('../assets/história/bannerh.webp');
    -webkit-text-fill-color:#59431bad;
}
/********** Background Image *************/
.background_image{
    background-image: url('../assets/história/bannerh.webp');
}
.background_image::before{
    background-color: rgba(0, 0, 0, 0.7);
}
/********* Hero ****************/
.hero{
    background: transparent;
}
.hero .container .content{
    width: 85%;
}

.hero .container .content .text h1{
    font-size: 6rem;
    position: relative;
    left: -10px;
 }
 .hero .container .content .text h2{
    font-size: 2rem;
    font-weight: 100;
 }
 .farao{
    filter: drop-shadow(rgba(0, 0, 0, 0.55) 0px 5px 15px);
    width: 100%;
 }
 .egito_img{
    background: transparent;
}
.egito_img::before{
    background: transparent;

}
/******* Singles **********/

.single{
    background-color: rgba(255, 255, 255, 0.2);
}
.single_img.a{
    background-image: url('../assets/história/pre_dinastico.avif');
    background-position: bottom;
}
.single_img.b{
    background-image: url('../assets/história/antigo_imperio.avif');
}
.single_img.c{
    background-image: url('../assets/história/medio_imperio.jpg');
}
.single_img.d{
    background-image: url('../assets/história/novo_imperio.webp');
}
.single_img.e{
    background-image: url('../assets/história/helenistico.jpg');
}
.single_img.f{
    background-image: url('../assets/história/egito_romano.webp');
}
.single_img.g{
    background-image: url('../assets/história/egito_moderno.jpg');

}


/***************** Media query *******************/
@media  screen and (max-width:1200px) {
    #intro{
        font-size: 6rem;
        margin-top: 50vh;
    }
    .hero .container .content .text h1{
        font-size: 4rem;
     }
    
}
@media screen and (max-width:800px) {
    #intro{
        font-size: 4rem;
        margin-top: 50vh;
    }
    /*** Hero ****/
    .hero .container .content .text h1{
        font-size: 4rem;
        position: relative;
        left: 0;
        margin: .5rem 0;
        margin-bottom: 1rem;
     }
}
