body .container{
    overflow-x:visible;
}
/***************   Section 1 ******************/
.first_section{
    padding: 13rem 0;
    width: 100%;
    background-color: var(--color-3);
    position: relative;
    z-index: 10;
}
.first_section::before {
    content: "";
    position: absolute;
    background-image: linear-gradient( transparent,#A1622E);
    top: -120px;
    height: 120px;
    width: 100%;
}
.first_section::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.171);
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.first_section .container{
    padding: 0;
}

.first_section .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    padding-left: 2%;
    border-radius: 10px;
    color: rgb(238, 237, 237);
}
.first_section .text{
    background-color: rgba(255, 255, 255, 0.085);
    padding: 2rem;
    border-radius: 10px;
    color: rgb(238, 237, 237);
    width: 50%;
}
.first_section .text h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.first_section .text p{
    font-size: 1.1rem;
}
.capital{
    color: white;
    position: relative;
    width: 40%;
    height: 400px;
    background-color: white;
    background-image: url('../assets/images/capital.jpg');
    background-size: cover;
    animation: capital 40s linear alternate infinite;
    overflow: hidden;
}

.capital::before {
    z-index: 2;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.059);
    left: 0;
    height: 100%;
    width: 100%;
}
.capital::after{
    transition: .5s ease;
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.capital p{
    z-index: 2;
    font-size: 1.5rem;
    opacity: 0;
}
.capital:hover::after{
    width: 110%;
    background-color: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(15px);
}
.capital:hover p{
    opacity: 1;
}
@keyframes capital {
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: 100% 0%;
    }
}
/***************** Section 2**********************/
.second_section{
    padding: 10rem 0;
    width: 100%;
    background-color: rgb(189, 143, 84);
    position: relative;
    z-index: 10;
}
.second_section::before{
    content: "";
    position: absolute;
    background-image: linear-gradient( transparent,#B0854E);
    top: -40px;
    height: 40px;
    width: 100%;
}
.second_section::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.068);
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.second_section .content{
    background-color: rgba(255, 255, 255, 0.099);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5rem 2rem;
    border-radius: 10px;
    gap: 5rem;
}
.second_section .content h2{
    font-size: 3rem;
    font-weight: 400;
}
.second_section .content .pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.second_section .single_pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    
}

.second_section .single_pages .single_img_pages{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: red;
    transition:all .5s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second_section .single_pages .single_img_pages:hover{
    transform: scale(1.1);
}

/***************** Media query *******************/
@media  screen and (max-width:1200px) {
     /*********** First_section *****/
     .first_section .text{
        background-color: transparent;
    }
}
@media screen and (max-width:995px) {
    .first_section{
        padding: 5rem 0;
    }
    .first_section .container{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .first_section .content{
        flex-direction: column;
        padding: 0;
        padding-top: 3rem;
        width: 550px;
        max-width: 90%;
        gap: 5rem;

    }
    .first_section .text{
        text-align: center;
        width: 80%;
        background-color: transparent;
        padding: 0;

    }
    .first_section .text h2{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    .first_section .text p{
        font-size: 1rem;
        font-weight: 600;
        color: rgb(231, 229, 229);
    }
    .capital{
        width: 100%;
        height: 300px;
    }
    /** Second section**/
    .second_section .content h2{
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
}