:root {
    --color-1: #8C2703;
    --color-2: #D9753B;
    --color-3: #C27638;
    --color-4: #f8f6c0;
    --color-5: #400101;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'cinzel';
}
html {
    scroll-behavior: smooth;
    user-select: none;
  }
.container {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;
    
}
.link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.await{
    transition: all .5s ease-in-out;
}
@font-face{
    font-family: 'cinzel';
    src: url('../fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
}
/************** Menu *******************/

header{
    position: fixed;
    z-index: 998;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    color: white;
    transition: 1.5s;
    opacity: 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}
header .logo h1{
    font-weight: 500;
}
header .desktop{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.desktop a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    transition:transform .3s ease;
}
.desktop a:hover{
    transform: scale(1.1);
    color: white;
}

.desktop a::after {
    content: '';
    width: 100%;
    height: 2px; 
    background-color: var(--color-4);
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;

}

.desktop a:hover::after {
    transform: translateX(-50%) scaleX(1); 
}
.desktop .current::after{
    content: '';
    transform: translateX(-50%) scaleX(1);
    
}
/*****************************************/
.mobile{
    display: none;
}
.menu{
    
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    
    height: calc(100vh - 107px);
    gap: 2rem;
    top: 107.5px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 1s ease;
}
.menu.menu_animation {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    transition:transform .3s ease;
}
.menu a:hover{
    transform: scale(1.1);
    color: white;
}

.menu a::after {
    content: '';
    width: 100%;
    height: 2px; 
    background-color: var(--color-4);
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;

}

.menu a:hover::after {
    transform: translateX(-50%) scaleX(1); 
}
.menu .current::after{
    content: '';
    transform: translateX(-50%) scaleX(1);
    
}

.mobile .icon{
    cursor: pointer;
    z-index: 998;
    width: 60px;
    height: 60px;
    background-color: rgba(4, 4, 4, 0.148);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    transition: transform ease .5s;
}
.icon:hover{
    transform: scale(1.05);
}
.icon div{
   transform: rotate(0);
    width: 35px;
    padding-top: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all ease .6s;
}
.icon.icon_animation div:first-child{
    transform: rotate(45deg) translateY(8px) translateX(9px);
    

}
.icon.icon_animation div{
    transform: rotate(-45deg) translateY(-8px) translateX(9px);
}
.icon.icon_animation div:nth-child(2){
    
    opacity: 0;
}
/************** INTRO ******************/

#piramide_img{
    z-index: 999;
    min-height: 100%;
    background-color: rgba(133, 95, 14, 0.485);
    top: 0;
    position: fixed;
    background-image: url('../assets/svg/Piramides2.svg');
    background-size: 150%;
    background-position:58% 45.5%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 1.5s ease;
}
#piramide_img.sticky{
    background-color: transparent;
    background-position:53.5% 40.5%;
    background-size: 2500%;
    z-index: -1;
    
}

#piramide_img.sticky #intro{
    opacity: 0;
    color: transparent;
    z-index: -1;
}
#intro{
    transition: .5s ease;
    margin-top: 55vh;
    text-align: center;
    font-size: 12rem;
    background-image: url('../assets/images/Egito_Hero.jpg');
    font-family: 'cinzel';
    font-weight: 600;
    background-size: 100%;
    background-position:30% 45.5%;
    -webkit-background-clip: text;
    -webkit-text-fill-color:rgba(133, 95, 14, 0.485);
}
/*************** HERO *****************/
.banner{
    max-width: 100%;
    height: 120vh;
    position: relative;
}
.egito_img{
    background-image: url('../assets/images/Egito_Hero.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}
.egito_img::before{
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

 .hero .container{
    min-height: 120vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
 }
 .hero .container .content{
    color: white;
    z-index: 2;
 }

 .bandeira_hero img{
    width: 100%;
 }
 .hero .container .content .text h1{
    font-size: 10rem;
    position: relative;
    left: -10px;
 }
 .hero .container .content .text h2{
    font-size: 2rem;
    font-weight: 100;
 }
/***************   Section 1 ******************/
.first_section{
    padding: 13rem 0;
    width: 100%;
    background-color: var(--color-3);
    position: relative;
    z-index: 10;
}
.first_section::before {
    content: "";
    position: absolute;
    background-image: linear-gradient( transparent,#A1622E);
    top: -120px;
    height: 120px;
    width: 100%;
}
.first_section::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.171);
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.first_section .container{
    padding: 0;
}

.first_section .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    padding-left: 2%;
    border-radius: 10px;
    color: rgb(238, 237, 237);
}
.first_section .text{
    background-color: rgba(255, 255, 255, 0.085);
    padding: 2rem;
    border-radius: 10px;
    color: rgb(238, 237, 237);
    width: 50%;
}
.first_section .text h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.first_section .text p{
    font-size: 1.1rem;
}
.capital{
    color: white;
    position: relative;
    width: 40%;
    height: 400px;
    background-color: white;
    background-image: url('../assets/images/capital.jpg');
    background-size: cover;
    animation: capital 40s linear alternate infinite;
    overflow: hidden;
}

.capital::before {
    z-index: 2;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.059);
    left: 0;
    height: 100%;
    width: 100%;
}
.capital::after{
    transition: .5s ease;
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.capital p{
    z-index: 2;
    font-size: 1.5rem;
    opacity: 0;
}
.capital:hover::after{
    width: 110%;
    background-color: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(15px);
}
.capital:hover p{
    opacity: 1;
}
@keyframes capital {
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: 100% 0%;
    }
}
/***************** Section 2**********************/
.second_section{
    padding: 10rem 0;
    width: 100%;
    background-color: rgb(189, 143, 84);
    position: relative;
    z-index: 10;
}

.second_section::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.068);
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.second_section .content{
    background-color: rgba(255, 255, 255, 0.099);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5rem 2rem;
    border-radius: 10px;
    gap: 5rem;
}
.second_section .content h2{
    font-size: 3rem;
    font-weight: 400;
}
.second_section .content .pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.second_section .single{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    
}

.second_section .single .single_img{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: red;
    transition:all .5s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second_section .single .single_img:hover{
    transform: scale(1.1);
}
/***************** Section 2**********************/
.third_section{
    height: 100vh;
    width: 100%;
    background-color: rgb(175, 119, 45);
}
/**************** Footer **************************/
footer{
    width: 100%;
    background-color: var(--color-1);
    position: relative;
}
footer .container{
    padding: 3rem;
    color: rgb(239, 238, 238);
}
footer .container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer .container .content .github{
    background-color: rgba(255, 255, 255, 0.148);
    padding:.5rem 1rem;
    border-radius: 30px;
    display: flex;
    transition:all .5s ease ;
    gap: .5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
footer .container .content .github div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
   
    background-image: url('../assets/images/github.webp');
    background-size: cover;
    background-position: center;
}
footer .container .content .github:hover{
    transform: scale(1.1);
}

/***************** Media query *******************/
@media  screen and (max-width:1200px) {
    /************INTRO *******************/
    #piramide_img{
        z-index: 999;
        min-height: 100%;
        background-color: rgba(133, 95, 14, 0.485);
        top: 0;
        position: fixed;
        background-image: url('../assets/svg/Piramides2.svg');
        background-size: 150%;
        background-position:58% 45.5%;
        background-repeat: repeat;
        width: 100%;
        height: 101vh;
        transition: all 1.5s ease;
    }
    #intro{
        font-size: 8rem;
        margin-top: 50vh;
        
    }
    /************ Menu ******************/
    .container .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    /************ Hero ******************/
    .hero .container .content .text h1{
        font-size: 7rem;
        position: relative;
        left: -10px;
     }
     /*********** First_section *****/
     
}
@media screen and (max-width:995px) {
    .first_section{
        padding: 5rem 0;
    }
    .first_section .container{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .first_section .content{
        flex-direction: column;
        padding: 0;
        padding-top: 3rem;
        width: 550px;
        max-width: 90%;
        gap: 5rem;

    }
    .first_section .text{
        text-align: center;
        width: 80%;
        background-color: transparent;
        padding: 0;

    }
    .first_section .text h2{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    .first_section .text p{
        font-size: 1rem;
        font-weight: 600;
        color: rgb(231, 229, 229);
    }
    .capital{
        width: 100%;
        height: 300px;
    }
    /** Second section**/
    .second_section .content h2{
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
}
@media  screen and (max-width:800px) {
    body .container{
        padding:1.5rem;
    }
    /************* INTRO ***************/
    #piramide_img.sticky{
        background-size: 3500%;
    }

    
    #intro{
        font-size: 6rem;
    }
    /************ Hero ******************/
    .hero .container .content .text h1{
        font-size: 5rem;
        position: relative;
        left: 0;
     }
     .hero .container .content .text h2{
        font-size: 1.5rem;
        position: relative;
        left: 0;
     }
     .bandeira_hero, .text{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .text{
        flex-direction: column;
     }
     .bandeira_hero img{
        width: 100%;
     }
     /***** Footer ********/
     footer .container .content .text{
        font-size: 1rem;
        text-align: center;
        text-wrap: wrap;
    }
}
@media screen and (max-height:520px) {
    .menu{
        padding: 4rem;
        gap: 1rem;
        font-size: 1 rem;
    }
}
