#intro{
    font-size: 7rem;
    margin-top: 50vh;   
    background-image: url('../assets/história/bannerh.webp');
    -webkit-text-fill-color:#59431bad;
}
/********* Hero ****************/
.hero .container .content{
    width: 85%;
}

.hero .container .content .text h1{
    font-size: 6rem;
    position: relative;
    left: -10px;
 }
 .hero .container .content .text h2{
    font-size: 2rem;
    font-weight: 100;
 }
 .farao{
    filter: drop-shadow(rgba(0, 0, 0, 0.55) 0px 5px 15px);
    width: 100%;
 }
 .egito_img{
    background-image: url('../assets/história/bannerh.webp');
}
.egito_img::before{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}

/***************** Media query *******************/
@media  screen and (max-width:1200px) {
    #intro{
        font-size: 6rem;
        margin-top: 50vh;
    }
    .hero .container .content .text h1{
        font-size: 4rem;
     }
    
}
@media screen and (max-width:800px) {
    #intro{
        font-size: 4rem;
        margin-top: 50vh;
    }
    /*** Hero ****/
    .hero .container .content .text h1{
        font-size: 4rem;
        position: relative;
        left: 0;
        margin: .5rem 0;
        margin-bottom: 1rem;
     }
}
