#intro{
    font-size: 7rem;
    margin-top: 50vh;   
    background-image: url('../assets/turismo/bannert.jpg');
    -webkit-text-fill-color:#59431bad;
}
/******** Background Image *******/
.background_image{
    position: fixed;
    width: 100%;
    height: 110vh;
    background-image: url('../assets/turismo/bannert.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/********* Hero ****************/
.hero{
    background: transparent;
}
.hero .container .content{
    width: 85%;
}

.hero .container .content .text h1{
    font-size: 6rem;
    position: relative;
    left: -10px;
 }
 .hero .container .content .text h2{
    font-size: 2rem;
    font-weight: 100;
 }
 .farao{
    position: relative;
    filter: drop-shadow(rgba(101, 101, 101, 0.55) 0px 5px 15px);
    width: 100%;
 }
.egito_img::before{
    background-color: transparent;
}
.background_image::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.35);
}
/*** Singles_section ************/
.single_img.a{
    background-image: url('../assets/turismo/balão.jpg');
}
.single_img.b{
    background-image: url('../assets/turismo/piramides.png');
}
.single_img.c{
    background-image: url('../assets/turismo/karnak.jpg');
}
.single_img.d{
    background-image: url('../assets/turismo/reis.webp');
}
.single_img.e{
    background-image: url('../assets/turismo/abusimbel.jpg');
}
.single_img.f{
    background-image: url('../assets/turismo/dahab.jpg');
}
/***************** Media query *******************/
@media  screen and (max-width:1200px) {
    #intro{
        font-size: 6rem;
        margin-top: 50vh;
    }
    .hero .container .content .text h1{
        font-size: 4rem;
     }
}
@media screen and (max-width:800px) {
    #intro{
        font-size: 4rem;
        margin-top: 50vh;
    }
    /*** Hero ****/
    .hero .container .content .text h1{
        font-size: 4rem;
        position: relative;
        left: 0;
        margin: .5rem 0;
        margin-bottom: 1rem;
     }
}
